= render "shared/user-header"
.user-wrapper 
  .user-menter-top
    .user-menter-ooo
      住所登録
  = form_for @address do |f|
    = render "devise/shared/error_messages", resource: @address
    .user-menter-top-aaa
      .user-field
        郵便番号
        = f.text_field :zipcode, class:"user-menter-toptop", placeholder: "郵便番号を入力"
      .user-field
        都道府県
        = f.text_field :region, class:"user-menter-toptop", placeholder: "都道府県を入力"
      .user-field
        市区町村
        = f.text_field :municipality, class:"user-menter-toptop", placeholder: "市区町村を入力"
      .user-field
        番地・マンション
        = f.text_field :street_mansion, class:"user-menter-toptop", placeholder: "番地・マンションを入力"
      .user-submit
        = f.submit "登録", class: "user-foo"
= render "shared/user-footer"
