= render "shared/header"

.hder
  - breadcrumb :okiniiri
  = breadcrumbs pretext: "",separator: "&gt;"
.l
  = render "shared/sidebar"
  = render "shared/okiniiri"
= render "shared/syupinbtn"
= render "shared/footer"