.card-main
  .card-main__container
    %h2.card-main__head 支払い方法
    %form.card-input-contents
      .card-input-content
        .form-group
          %label
            カード番号
            %span
              必須
          %input{type:"text",placeholder:"半角英数字のみ",class:"input-default",maxlength:"19"}
          %ul.signup-card-list
            %li
              = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/visa.svg?238737266",width:"49px",height:"20px"
            %li
              = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?238737266",width:"34px",height:"20px"
            %li
              = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?238737266",width:"30px",height:"20px"
            %li
              = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?238737266",width:"32px",height:"20px"
            %li
              = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?238737266",width:"21px",height:"20px"
            %li
              = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?238737266",width:"32px",height:"20px"
            %li
              = image_tag "https://www-mercari-jp.akamaized.net/assets/img/card/discover.svg?238737266",width:"32px",height:"20px"
        .form-group-expire
          %label
            有効期限
            %span
              必須
          .select-wrap
            .select-wrap__half
              = select_tag 'card[month]',options_for_select(["01","02","03","04","05","06","07","08","09","10","11","12"]),class:"select-default"
              月
            .select-wrap__half
              = select_tag 'card[month]',options_for_select(["20","21","22","23","24","25","26","27","28","29","30"]),class:"select-default"
              年
        .form-group-expire
          %label
            セキュリティーコード
            %span
              必須
          %input{type:"textr",placeholder:"カード背面4桁もしくは3桁の番号",class:"input-default"}
          %button{type:"submit", class:"buy-btn"}登録する