.footer
  %ul.footer_content
    %li.footer_content_uno
      %h2.footer_content_uno_head
        FURIMAについて
      %ul.footer_content_uno_content
        %li.footer_content_uno_content_list
          = link_to "#" do
            会社概要（運営会社）
        %li.footer_content_uno_content_list
          = link_to "#" do
            プライバシーポリシー
        %li.footer_content_uno_content_list
          = link_to "#" do  
            FURIMA利用規約
        %li.footer_content_uno_content_list
          = link_to "#" do
            ポイントに関する特約
    %li.footer_content_uno
      %h2.footer_content_uno_head
        FURIMAを見る
      %ul.footer_content_uno_content
        %li.footer_content_uno_content_list
          = link_to "#" do
            カテゴリー一覧
        %li.footer_content_uno_content_list
          = link_to "#" do
            ブランド一覧
    %li.footer_content_uno
      %h2.footer_content_uno_head
        ヘルプ&ガイド
      %ul.footer_content_uno_content
        %li.footer_content_uno_content_list
          = link_to "#" do
            FURIMAガイド
        %li.footer_content_uno_content_list
          = link_to "#" do
            FURIMAロゴ利用ガイドライン
        %li.footer_content_uno_content_list
          = link_to "#" do  
            お知らせ
  .footer_icon
    = link_to root_path do
      = image_tag "logo-white.png", class:"image"
  %p.footer_under
    © FURIMA
      
      
  

      
  -# UNO DOS TRES