.TSheader
  .TSheader_inner
    .TSheader_inner_main
      %h1.TSheader_inner_main_icon
        = link_to root_path do
          = image_tag "logo.png", class:"image"
      -# フォーム未実装
      .TSheader_inner_main_search
        %form
          = link_to "#" do
            %input{type:"text", class: "box", placeholder: 'search for keyword'}
            %button{type:"submit", class: "btn"}
              =image_tag "icon-search 1.png", class: "image", size: "20*20"
    .TSheader_inner_main_nav
      %ul.TSheader_inner_main_nav_left
        %li.TSheader_inner_main_nav_left_list
          %ul
            %li.submenu-trigger
              カテゴリー
              %ul
                - @parents.each do |parent|
                  %li.submenu2-trigger
                    = parent.name
                    %ul
                      - parent.children.each do |child|
                        %li.submenu3-trigger
                          =child.name 
                          %ul
                            - child.children.each do |grandchild|
                              %li.submenu4-trigger
                                =grandchild.name
         
        %li.TSheader_inner_main_nav_left_item
          = link_to "#" , class: "item" do
            ブランド
      %ul.TSheader_inner_main_nav_right
        - if user_signed_in?
          %li.TSheader_inner_main_nav_right_login
            = link_to destroy_user_session_path do
              ログアウト
          %li.TSheader_inner_main_nav_right_new
            = link_to post_path(current_user.id) do
              マイページ
        - else
          %li.TSheader_inner_main_nav_right_login
            = link_to new_user_session_path do
              ログイン
          %li.TSheader_inner_main_nav_right_new
            = link_to new_user_registration_path do
              新規会員登録