-# %h2 Log in
-# = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
-#   .field
-#     = f.label :email
-#     %br/
-#     = f.email_field :email, autofocus: true, autocomplete: "email"
-#   .field
-#     = f.label :password
-#     %br/
-#     = f.password_field :password, autocomplete: "current-password"
-#   - if devise_mapping.rememberable?
-#     .field
-#       = f.check_box :remember_me
-#       = f.label :remember_me
-#   .actions
-#     = f.submit "Log in"







= render "user-header"
.user-wrapper
  .user-menter-wrapper
    .user-menter-top
      会員情報入力
    .user-menter-bottom
      %form.user-menter-bottom__a
        .user-menter-bottom__a__nickname
          .user-menter-bottom__a__nickname__moji
            .user-menter-bottom__a__nickname__moji__nickname
              ニックネーム
            .user-menter-bottom__a__nickname__moji__hissu 
              必須
          %input{type: "text", class: "user-menter-nickname", placeholder: "例）メルカリ太郎"}
        .user-menter-bottom__a__mailadress
          .user-menter-bottom__a__mailadress__moji
            .user-menter-bottom__a__mailadress__moji__mailadress
              メールアドレス
            .user-menter-bottom__a__mailadress__moji__hissu
              必須
          %input{type: "text", class: "user-menter-mailadress", placeholder: "PC・携帯どちらでも可"}
        .user-menter-bottom__a__password
          .user-menter-bottom__a__password__moji
            .user-menter-bottom__a__password__moji__password
              パスワード
            .user-menter-bottom__a__password__moji__hissu
              必須
          %input{type: "text", class: "user-menter-password", placeholder: "7文字以上の半角英数字"}
          .user-menter-bottom__a__password__moji__settei
            ※ 英字と数字の両方を含めて設定してください
        .user-menter-bottom__a__checkbox
          %input{type: "checkbox", class: "user-menter-checkbox"}
          .user-menter-bottom__a__checkbox__password
            パスワードを表示する
        .user-menter-bottom__a__password
          .user-menter-bottom__a__password__moji
            .user-menter-bottom__a__password__moji__password
              パスワード
            .user-menter-bottom__a__password__moji__hissu
              必須
          %input{type: "text", class: "user-menter-password", placeholder: "7文字以上の半角英数字"}
          .user-menter-bottom__a__password__moji__settei
        .user-menter-bottom__a__checkbox
          %input{type: "checkbox", class: "user-menter-checkbox"}
          .user-menter-bottom__a__checkbox__password
            パスワードを表示する
        .user-menter-bottom__a__group
          .user-menter-bottom__a__group__honnin
            本人確認
          .user-menter-bottom__a__group__ansin
            安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
        .user-menter-bottom__a__name
          .user-menter-bottom__a__name__hiragana
            .user-menter-bottom__a__name__hiragana__name
              お名前(全角)
            .user-menter-bottom__a__name__hiragana__hissu
              必須
          .user-menter-bottom__a__name__form
            %input{type: "text", class: "user-menter-name", placeholder: "例) 山田"}
            %input{type: "text", class: "user-menter-name-last",placeholder: "例) 太郎"}
        .user-menter-bottom__a__name
          .user-menter-bottom__a__name__hiragana
            .user-menter-bottom__a__name__hiragana__name
              お名前カナ(全角)
            .user-menter-bottom__a__name__hiragana__hissu
              必須
          .user-menter-bottom__a__name__form
            %input{type: "text", class: "user-menter-name", placeholder: "例) ヤマダ"}
            %input{type: "text", class: "user-menter-name-last",placeholder: "例) タロウ"}
        .user-menter-bottom__a__name
          .user-menter-bottom__a__name__hiragana
            .user-menter-bottom__a__name__hiragana__name
              生年月日
            .user-menter-bottom__a__name__hiragana__hissu
              必須
          .user-menter-bottom__a__name__birthday
            .user-menter-bottom__a__name__birthday__year
              .user-menter-bottom__a__name__birthday__year__p
                .user-menter-bottom__a__name__birthday__year__p__q
                  ーー
                .user-menter-bottom__a__name__birthday__year__p__icon
                  = icon('fas', 'chevron-down', class: "user-arrow-down")
            .user-menter-bottom__a__name__birthday__nihon
              年
            .user-menter-bottom__a__name__birthday__year
              .user-menter-bottom__a__name__birthday__year__p
                .user-menter-bottom__a__name__birthday__year__p__q
                  ーー
                .user-menter-bottom__a__name__birthday__year__p__icon
                  = icon('fas', 'chevron-down', class: "user-arrow-down")
            .user-menter-bottom__a__name__birthday__nihon
              月
            .user-menter-bottom__a__name__birthday__year
              .user-menter-bottom__a__name__birthday__year__p
                .user-menter-bottom__a__name__birthday__year__p__q
                  ーー
                .user-menter-bottom__a__name__birthday__year__p__icon
                  = icon('fas', 'chevron-down', class: "user-arrow-down")
            .user-menter-bottom__a__name__birthday__nihon
              日
.user-wrapper
  .user-wrapper-new-c
    .user-menter-bottom
      %form.user-menter-bottom__a
        .user-menter-bottom__a__nickname
          .user-menter-bottom__a__nickname__moji
            .user-menter-bottom__a__nickname__moji__nickname
              携帯電話の番号
          %input{type: "text", class: "user-menter-nickname", placeholder: "携帯の番号を入力"}
          .user-menter-bottom__a__group__ansin__b
            本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
        .user-menter-bottom__a__information
          ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
          .user-menter-bottom__a__honninjouhou
            .user-menter-bottom__a__honninjouhou__b
              = link_to "電話番号の確認が必要な理由", root_path, class: "user-menter-bottom-jouhou" 
              .user-menter-bottom__a__honninjouhou__b__a
                = link_to "#" do
                  = icon('fas', 'chevron-right', class: "user-morimori")
        .user-menter-bottom__a__next
          「次へ進む」のボタンを押すことにより、
          = link_to "利用規約", "#", class: "user-mori-mori"
          に同意したものとみなします
        .user-menter-bottom__a__submit-btn
          = link_to "登録する", root_path, class: "user-menter-submit-btn"
          -# = form_tag(root_path, method: :post) 
          -# %input{type: "submit", class: "user-menter-submit-btn", value: "登録"}
          

        .user-menter-bottom__a__honninjouhou
          .user-menter-bottom__a__honninjouhou__b
            = link_to "本人情報の登録について", root_path, class: "user-menter-bottom-jouhou" 
            .user-menter-bottom__a__honninjouhou__b__a
              = link_to "#" do
                = icon('fas', 'chevron-right', class: "user-morimori")
        .user-menter-bottom__a__the
          This site is protected by reCAPTCHA and the Google 
          = link_to "Privacy Policy", "#", class: "user-menter-bottom-terms"
          and
          = link_to "Terms of Service","#", class: "user-menter-bottom-terms"
          apply.

-# = render "devise/shared/links"
= render "user-footer"
-# = render "new-a"
-# = render "new-b"