<%= form_for @item do |f| %>
  商品名<%= f.text_field :name %><br>
  価格<%= f.number_field :price %><br>
  <div id="image-box">
    <%= f.fields_for :images do |i| %>
      <div data-index="<%= i.index %>" class="js-file_group">
        <%= i.file_field :url, class: 'js-file' %><br>
        <span class="js-remove">削除</span>
      </div>  
      <% if @item.persisted? %>
        <%= i.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy' %>
      <% end %>
      <% if @item.persisted? %>
      <div data-index="<%= @item.images.count %>" class="js-file_group">
        <%= file_field_tag :src, name: "item[images_attributes][#{@item.images.count}][src]", class: 'js-file' %>
        <div class="js-remove">削除</div>
      </div>
      <% end %>
    <% end %>
  </div>
  <%= f.number_field :status %><br>
  <%= f.number_field :delivery_charge %><br>
  <%= f.number_field :address %> <br>
  <%= f.number_field :date %><br>
  <%= f.text_field :detail %><br>
  <%= f.submit %>
<% end %>
