<%= form_for @item do |f| %>
  商品名<%= f.text_field :name %><br>
  価格<%= f.number_field :price %><br>
  <div id="image-box">
    <%= f.fields_for :images do |i| %>
      <div data-index="<%= i.index %>" class="js-file_group">
        <%= i.file_field :url, class: 'js-file' %><br>
        <span class="js-remove">削除</span>
      </div>  
    <% end %>
  </div>
  <%= f.number_field :status %>
  <%= f.number_field :delivery_charge %>
  <%= f.number_field :address %> 
  <%= f.number_field :date %>
  <%= f.text_field :detail %>
  <%= f.submit %>
<% end %>