<%= link_to '編集', edit_item_path(item) %>
<div class="content">
  <p><%= item.name %></p>
  <p><%= item.price %>円</p>
  <% item.images.each do |i| %>
    <%= image_tag i.url %>
  <% end %>
</div>
<%= link_to '削除', item_path(item), method: :delete %>