= render 'shared/header'


.item-show-main-contents
  .item-box__details
    %h1
      .item-name
        =@item.name
    .item-main-content
      .item-image
        .image
          =image_tag "#{@item.images[0].url}"
        .owl-dot
          .owl-dot__item
            .owl-dot__item__box
              - if @item.images[0].url.present? 
                =image_tag "#{@item.images[0].url}",class:"image-sub"
          .owl-dot__item
            .owl-dot__item__box
              - if @item.images[1].present? 
                =image_tag "#{@item.images[1].url}",class:"image-sub"
          .owl-dot__item
            .owl-dot__item__box
              - if @item.images[2].present? 
                =image_tag "#{@item.images[2].url}",class:"image-sub"
          .owl-dot__item
            .owl-dot__item__box
              - if @item.images[3].present? 
                =image_tag "#{@item.images[3].url}",class:"image-sub"
          .owl-dot__item
            .owl-dot__item__box
              - if @item.images[4].present? 
                =image_tag "#{@item.images[4].url}",class:"image-sub"

      %table.item-detail-table
        %tbody
          %tr
            %th 出品者
            %td 
              
              = @saler.nickname
          %tr
            %th カテゴリー
            %td 
              .item-detail-table-sub
                = @item.category.parent.parent.name
              .item-detail-table-subt__sub
                = @item.category.parent.name               
              .item-detail-table-subt__sub__sub
                = @item.category.name
          %tr
            %th 商品の状態
            %td #{@item.status}
          %tr
            %th 配送料の負担
            %td #{@item.delivery_charge}
          %tr
            %th 配送元地域
            %td #{@item.address}

          %tr
            %th 発送日の目安
            %td #{@item.date}

    .item-box-price
      %span.price-bold ¥  #{@item.price}
      .item-box-price-detail
        %span (税込)
        %span 送料込み

      .item-buy-btn
        -if @item.buyer_id != nil
          = link_to '売り切れました', root_path, class: "item-buy-btn"
        -elsif user_signed_in?
          -if @item.saler_id == current_user.id
            = link_to "編集", edit_item_path(params[:id]), class:"item-buy-btn__destroy"
            %span or
            = link_to "削除", "#", class:"item-buy-btn__destroy",method: :delete
          - elsif @item.buyer_id == nil
            = link_to '購入画面に進む',item_buyers_path(@item.id), class: "item-buy-btn"
        - else
          = link_to 'ログインして購入', new_user_session_path, class: "item-buy-btn"
          = link_to '新規会員登録して購入', new_user_registration_path, class: "item-buy-btn"
      
    .item-description
      %p.item-description__inner
        商品説明
        #{@item.detail}
      .item-button-container
        %ul
          %li.link-btn
            %i.fas.fa-star
              お気に入り
        %ul
          %li.link-btn-right
            %i.fas.fa-flag
              = link_to "不適切な商品の通報"
.comment-main
  .comments
    .comment-box
      %ul.comment-contents
        %from.new-contents
          %input{type:"text",class:"textarea"}
          
          %p.notice-message
            相手のことを考え丁寧なコメントを心がけましょう。
            %br 不適切な言葉遣いなどは利用制限や退会処分となることがあります。
            
          %button.comment-btn
            %i.fas.fa-comment
              コメントする


= render 'shared/footer'


