= render "shared/header"

.hder
  - breadcrumb :show
  = breadcrumbs pretext: "",separator: "&gt;"
.l
  = render "shared/sidebar"
  = render "shared/mypage-first"
= render "shared/syupinbtn"
= render "shared/footer"
